.main-dashboard {
  border-radius: 20px;
  display: grid;
  grid-template-rows: 30px 220px 1fr;
  row-gap: 30px;
    /* background-color: #faf9f9; */
    height: 85vh;
    padding: 1rem;

}

.dashboard {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  gap: 100px;
}

.table-div {
  display: grid;
  grid-template-columns: 30% 69%;
  column-gap: 40px;
  width: 100%;
  border-radius: 20px;
}


@media (max-width: 800px) {
  .table-div {
    display: block;
  }

  .main-dashboard {
    display: block;
  }

  .dashboard {
    display: block;
  }
}