.top-div {
  height: max-content;
  width: 100%;
  border-radius: 10px;
  padding: 16px 24px;
  background-color: #F9FAFA;
}

.top-title {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin: 10px 0 25px 0;
}

.top-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  font-weight: 200;
  font-size: 14px;
  color: #000000;
}

.dash-div {
  height: 100px;
  width: 230px;
  display: flex;
  border-radius: 10px;
  background-color: #F9FAFA;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 24px;
}

.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.figure {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.card-title {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

@media (max-width: 1024px) {
  .dash-div {
    width: 330px;
  }
}

@media (max-width: 900px) {
  .dash-div {
    height: 100px;
    /* width: 100%; */
    margin-bottom: 20px;
  }

  .top {
    height: 200px
  }
}