.wrapper {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 0 auto;
}

.outlets {
  /* flex: 1; */
  margin-left: 300px;
  width: 1050px;
}

@media (min-width: 2560px) {
  .outlets {
    /* background-color: blue; */
    margin-left: 320px;
    width: 1050px;
  }
}

@media (min-width: 1441px) {
  .outlets {
    /* background-color: red; */
    margin-left: 300px;
    width: 1210px;
  }
}

@media (max-width: 1024px) {
  .outlets {
    margin-left: 280px;
    width: 735px;
  }
}

@media (max-width: 900px) {
  .outlets {
    margin-left: 0;
    width: 740px;
  }

  .wrapper {
    display: block;
    width: revert;
  }
}

@media (max-width: 900px) {
  .outlets {
    width: revert;
  }
}
