.dropdown-sidebar {
  display: none;
}

.submenu {
  max-height: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.submenu-open {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  padding: 12px;
  border-left: 2px solid #d9d9d9;
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navlinks {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.sidebar {
  background-color: #00b0f0;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  background-image: url("/src/assets/spiralImage.jpg");
  background-size: cover;
}

.sidebar-link-active {
  color: #00b0f0;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.sidebar-link {
  padding: 14px 8px;
  display: flex;
  white-space: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submenu-link {
  padding: 4px 8px;
}

.submenu-link.active {
  color: #00b0f0;
   padding: 4px 8px;
  background-color: #ffffff;
   padding: 5px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }
}

@media (min-width: 1441px) {
  /* .sidebar {
    width: 18%;
  } */
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .dropdown-sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    /* background-color: #daecee; */
    background-color: #aacde7;
    color: black;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
  }

  .dropdown-sidebar.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}
